<table class="metrics-table auto-lr-margin">
    <tr class="heading-row">
        <th></th>
        <th>past week</th>
        <th>past month</th>
    </tr>
    <tbody>
        <tr>
            <td class="left">tweets per day</td>
            <td class="metric"><%= tw.tweets_per_day "week" %></td>
            <td class="metric"><%= tw.tweets_per_day "month" %></td>
        </tr>
        <tr>
            <td class="left">retweets per day</td>
            <td class="metric"><%= tw.retweets_per_day "week" %></td>
            <td class="metric"><%= tw.retweets_per_day "month" %></td>
        </tr>
        <tr>
            <td class="left">combined per day</td>
            <td class="metric"><%= tw.combined_per_day "week" %></td>
            <td class="metric"><%= tw.combined_per_day "month" %></td>
        </tr>
    </tbody>
</table>

<h3 id="all-time"><span class="metric"><%= tw.all_per_day %></span> total per day <span class="parens">(includes @replies)</span> since joining Twitter on <%= tw.joined %><%= render 'layouts/tweet', :tw => tw %></h3>

<h2 class="avg-act-header center-text" title="As percent of last 200 tweets">Activity timing</h2>
<table id="timing-table" class="auto-lr-margin table table-bordered table-condensed">
    <% tl = tw.timeline %>
    <% peak = tl.peak_percent %>
    <tr class="heading-row">
        <th class="parens auto-lr-margin" title="times in Coordinated Universal Time (UTC)">(UTC)</th>
        <% tl.timeframes.each { |h| %>
            <th class="time-header" data-utc="<%= h %>"><%= h %></th>
        <% } %>
    </tr>
    <tbody>
        <tr>
            <td>weekdays</td>
            <% tl.weekday_percent.each { |k, v| %>
                <% alpha = get_bg_trans(v, peak) %>
                <td id="<%= "wkday-utc#{k}" %>" title="<%= "#{v}% of activity" %>" style="background-color: rgba(13, 51, 63, <%= alpha %>)" class="time-data" data-utc="<%= k %>" data-base="<%= v %>" data-alpha="<%= alpha %>" data-day="wkday"></td>
            <% } %>
        </tr>
        <tr>
            <td>weekends</td>
            <% tl.weekend_percent.each { |k, v| %>
                <% alpha = get_bg_trans(v, peak) %>
                <td id="<%= "wkend-utc#{k}" %>" title="<%= "#{v}% of activity" %>" style="background-color: rgba(13, 51, 63, <%= alpha %>)" class="time-data" data-utc="<%= k %>" data-base="<%= v %>" data-alpha="<%= alpha %>" data-day="wkend"></td>
            <% } %>
        </tr>
    </tbody>
</table>

<% if tw.has_latest_tweet? %>
    <div id="timeline" class="auto-lr-margin">
        <%= raw(tw.get_recent_tweet_html) %>
    </div>
<% end %>