<table class="metrics-table table table-hover auto-lr-margin minor-shadow">
    <tr class="heading-row">
        <th></th>
        <th>past week</th>
        <th>past month</th>
    </tr>
    <tbody>
        <tr>
            <td class="left">tweets per day</td>
            <td class="metric"><%= tw.tweets_per_day "week" %></td>
            <td class="metric"><%= tw.tweets_per_day "month" %></td>
        </tr>
        <tr>
            <td class="left">retweets per day</td>
            <td class="metric"><%= tw.retweets_per_day "week" %></td>
            <td class="metric"><%= tw.retweets_per_day "month" %></td>
        </tr>
        <tr>
            <td class="left">combined per day</td>
            <td class="metric"><%= tw.combined_per_day "week" %></td>
            <td class="metric"><%= tw.combined_per_day "month" %></td>
        </tr>
        <tr>
            <td class="left">most used hashtag</td>
            <td class="metric"><%= hashtag_link(tw.timeline.most_used_hashtag "week") %></td>
            <td class="metric"><%= hashtag_link(tw.timeline.most_used_hashtag "month") %></td>
        </tr>
        <tr>
            <td class="left">hashtags used</td>
            <td class="metric"><%= tw.timeline.num_hashtags "week" %></td>
            <td class="metric"><%= tw.timeline.num_hashtags "month" %></td>
        </tr>
        <tr>
            <td class="left">retweeted by others</td>
            <td class="metric"><%= format_num(tw.timeline.num_retweeted "week") %></td>
            <td class="metric"><%= format_num(tw.timeline.num_retweeted "month") %></td>
        </tr>
    </tbody>
</table>

<h3 id="all-time"><span><span class="metric"><%= tw.all_per_day %></span> total per day <span class="parens">(includes @replies)</span> since joining Twitter on <%= tw.joined %></span><%= render "layouts/tweet", :tw => tw %></h3>

<h2 class="avg-act-header center-text" title="As percent of last 200 tweets">Activity timing</h2>
<div class="auto-lr-margin center-text">
    <%= select("timezones", "offsets", get_timezones(), {}, {:id=>"timezones-offsets"}) %>
</div>
<table id="timing-table" class="auto-lr-margin table table-bordered table-condensed minor-shadow">
    <% tl = tw.timeline %>
    <% peak = tl.peak_percent %>
    <tr class="heading-row">
        <th></th>
        <% tl.timeframes.each { |h| %>
            <th class="time-header" data-utc="<%= h %>"><%= h %></th>
        <% } %>
    </tr>
    <tbody>
        <tr>
            <td>weekdays</td>
            <% tl.weekday_percent.each { |k, v| %>
                <% alpha = get_bg_trans(v, peak) %>
                <td id="<%= "wkday-utc#{k}" %>" title="<%= "#{v}% of activity" %>" style="background-color: rgba(13, 51, 63, <%= alpha %>)" class="time-data" data-utc="<%= k %>" data-base="<%= v %>" data-alpha="<%= alpha %>" data-day="wkday"></td>
            <% } %>
        </tr>
        <tr>
            <td>weekends</td>
            <% tl.weekend_percent.each { |k, v| %>
                <% alpha = get_bg_trans(v, peak) %>
                <td id="<%= "wkend-utc#{k}" %>" title="<%= "#{v}% of activity" %>" style="background-color: rgba(13, 51, 63, <%= alpha %>)" class="time-data" data-utc="<%= k %>" data-base="<%= v %>" data-alpha="<%= alpha %>" data-day="wkend"></td>
            <% } %>
        </tr>
    </tbody>
</table>

<% if tw.has_latest_tweet? %>
    <div id="timeline" class="auto-lr-margin">
        <%= raw(tw.recent_tweet_html) %>
    </div>
<% end %>