<table class="metrics-table auto-lr-margin">
    <tr class="heading-row">
        <th></th>
        <th>past week</th>
        <th>past month</th>
    </tr>
    <tbody>
        <tr>
            <td class="left">tweets per day</td>
            <td class="metric"><%= tw.tweets_per_day "week" %></td>
            <td class="metric"><%= tw.tweets_per_day "month" %></td>
        </tr>
        <tr>
            <td class="left">retweets per day</td>
            <td class="metric"><%= tw.retweets_per_day "week" %></td>
            <td class="metric"><%= tw.retweets_per_day "month" %></td>
        </tr>
        <tr>
            <td class="left">combined per day</td>
            <td class="metric"><%= tw.combined_per_day "week" %></td>
            <td class="metric"><%= tw.combined_per_day "month" %></td>
        </tr>
    </tbody>
</table>

<h3 id="all-time"><span class="metric"><%= tw.all_per_day %></span> total per day <span class="parens">(includes @replies)</span> since joining Twitter on <%= tw.joined %><%= render 'layouts/tweet', :tw => tw %></h3>

<h2 class="avg-act-header center-text">Activity timing</h2>
<h4 class="auto-lr-margin center-text"><span class="parens">(as percent of last 200 tweets)</span></h4>
<table id="timing-table" class="auto-lr-margin">
    <% tl = tw.timeline %>
    <tr class="heading-row">
        <th><span class="parens">(times in UTC)</span></th>
        <% tl.timeframes.each { |h| %>
            <th><%= h %></th>
        <% } %>
    </tr>
    <tbody>
        <tr>
            <td>weekdays</td>
            <% tl.weekday_percent.each { |k, v| %>
                <td class=""><%= v %></td>
            <% } %>
        </tr>
        <tr>
            <td>weekends</td>
            <% tl.weekend_percent.each { |k, v| %>
                <td class=""><%= v %></td>
            <% } %>
        </tr>
    </tbody>
    <!-- <tbody>
        <th>weekdays</th>
        <th>weekends</th>
        
        <% tl.timeframes.each { |tf| %>
            <tr>
                <td class="left"><%= tf %></td>
                <td class="metric"><%= tl.weekday_percent[tf] %></td>
                <td class="metric"><%= tl.weekend_percent[tf] %></td>
            </tr>
        <% } %>
    </tbody> -->
</table>
<!-- DELME -->
<!-- <table class="metrics-table auto-lr-margin">
    <tr class="heading-row">
        <th><span class="parens">(times in UTC)</span></th>
        <th>weekdays</th>
        <th>weekends</th>
    </tr>
    <tbody>
        <% tl = tw.timeline %>
        <% tl.timeframes.each { |tf| %>
            <tr>
                <td class="left"><%= tf %></td>
                <td class="metric"><%= tl.weekday_percent[tf] %></td>
                <td class="metric"><%= tl.weekend_percent[tf] %></td>
            </tr>
        <% } %>
    </tbody>
</table> -->
<!-- DELME -->
<% if tw.has_latest_tweet? %>
    <div id="timeline" class="auto-lr-margin">
        <%= raw(tw.get_recent_tweet_html) %>
    </div>
<% end %>