<div id="content">

  <div id="search_area">
    <h1>Should I follow</h1>
    <%# using should-i-follow, Twitter doesn't allow usernames with hyphens so using something that won't interfere with any potential searches %>
    <%= form_tag("/should-i-follow", :method=>"get") do %>
      <%= label_tag(:username, "@") %>
      <%= text_field_tag(:uname, "username", "id"=>"username", :maxlength=>20) %>
      <%= submit_tag("?", "id"=>"submit") %>
    <% end %>
  </div>
  
  <% uname = params[:uname] %>
  <% if uname %>
    <div id="stats" class="green-bottom">
      <h2>Average activity for <%= link_to("@#{uname}", "https://twitter.com/#{uname}", "class"=>"uname_link") %>:</h2>
      <% tw = Twitterer.new(uname) %>
      <% if tw.error %>
        <h2 class="error"><%= tw.error %> Please check back later! In the meantime learn about nanoseconds from Grace Hopper!</h2>
        <span class="youtube"><iframe width="560" height="315" src="http://www.youtube.com/embed/JEpsKnWZrJ8" frameborder="0" allowfullscreen></iframe>
      <% else %></span>
        <h3><span class="metric"><%= tw.tweets_per_day %></span> tweets per day <span class="parens">(last two weeks)</span></h3>
        <h3><span class="metric"><%= tw.retweets_per_day %></span> retweets per day <span class="parens">(last two weeks)</span></h3>
        <h3><span class="metric"><%= tw.tweets_per_day + tw.retweets_per_day %></span> tweets+retweets per day <span class="parens">(last two weeks)</span></h3>
        <h3><span class="metric"><%= tw.all_per_day %></span> total per day <span class="parens">(since creation, includes replies)</span></h3>
      </div>

      <div id="profile" class="green-bottom">
        <h3>profile</h3>
      </div>

      <div id="timeline">
        <h3>recent tweets</h3>
      </div>
    <% end %>
  <% else %>
    <%= render 'layouts/expl' %>
  <% end %>

</div>