<div id="content">

  <div id="search_area">
    <h1>Should I follow</h1>
    <%# using should-i-follow, Twitter doesn't allow usernames with hyphens so using something that won't interfere with any potential searches %>
    <%= form_tag("/should-i-follow", :method=>"get") do %>
      <%= label_tag(:username, "@") %>
      <%= text_field_tag(:uname, "username", "id"=>"username", :maxlength=>20) %>
      <%= submit_tag("?", "id"=>"submit") %>
    <% end %>
  </div>
  
  <% uname = params[:uname] %>
  <% if uname %>
    <div id="stats">
      <h2>Average activity for <%= link_to("@#{uname}", "https://twitter.com/#{uname}", "class"=>"uname_link") %>:</h2>
      <% tw = Twitterer.new(uname) %>
      <% if tw.error %>
        <% if tw.is_user_not_found? %>
          <h2 class="error"><%= tw.error %> <span class="parens">(you probably typed it wrong or it's a lousy name nobody would want)</span></h2>
        <% else %>
          <h2 class="error"><%= tw.error %> Please check back later! In the meantime learn about nanoseconds from Grace Hopper!</h2>
          <span class="youtube">
            <iframe width="560" height="315" src="http://www.youtube.com/embed/JEpsKnWZrJ8" frameborder="0" allowfullscreen></iframe>
          </span>
        <% end %>
      <% else %>
        <h3><span class="metric"><%= tw.tweets_per_day %></span> tweets per day <span class="parens">(last seven days)</span></h3>
        <h3><span class="metric"><%= tw.retweets_per_day %></span> retweets per day <span class="parens">(last seven days)</span></h3>
        <h3><span class="metric"><%= tw.combined_per_day %></span> tweets+retweets per day <span class="parens">(last seven days)</span></h3>
        <h3><span class="metric"><%= tw.all_per_day %></span> total per day <span class="parens">(since joining Twitter, includes replies)</span></h3>
        <% if tw.get_recent_tweet_html %>
          <div id="timeline">
            <h3>Latest Tweet:</h3>
            <%= raw(tw.get_recent_tweet_html) %>
          </div>
        <% end %>
      <% end %>
    </div>
  <% else %>
    <%= render 'layouts/expl' %>
  <% end %>

</div>