<div class="content shadow auto-lr-margin">

  <div id="search-area" class="content-top auto-lr-margin">
    <h1>Should I follow</h1>
    <%= form_tag("/search/should-i-follow", :method=>"get", :class=>"form-inline", :id=>"search-form") do %>
      <%= label_tag(:username, "@") %>
      <%= text_field_tag(:uname, nil, :placeholder=>"username", :id=>"username", :maxlength=>20) %>
      <%= submit_tag("?", "id"=>"submit") %>
    <% end %>
  </div>
  
  <% uname = params[:uname] %>
  <% if uname %>
    <div id="stats">
      <% tw = (Rails.cache.exist?(uname)) ? Rails.cache.read(uname) : Twitterer.new(uname) %>
      <% if tw.error %>
        <% if tw.is_user_not_found? %>
        <h2 class="avg-act-header center-text">Average activity for @<%= uname %>:</h2>
          <h2 class="error"><%= tw.error %> <span class="parens">(you probably typed it wrong or it's a lousy name nobody would want)</span></h2>
        <% else %>
          <h2 class="error"><%= tw.error %> Please check back later! In the meantime learn about nanoseconds from Grace Hopper!</h2>
          <span class="youtube">
            <iframe width="560" height="315" src="http://www.youtube.com/embed/JEpsKnWZrJ8" frameborder="0" allowfullscreen></iframe>
          </span>
        <% end %>
      <% else %>
        <h2 class="avg-act-header center-text">Average activity for <%= link_to("@#{uname}", "https://twitter.com/intent/user?screen_name=#{uname}", "class"=>"uname-link") %>:</h2>
        <% if tw.is_protected? %>
          <div id="fail-image" class="auto-lr-margin center-text">
            <h2 class="red">LOLZ, that account is protected.</h2>
            <h3 class="red">Perhaps look up someone not trying to fail at Twitter</h3>
            <a href="http://xkcd.com/336/"><img src="http://imgs.xkcd.com/comics/priorities.png" /></a>
          </div>
        <% else %>
          <%= render 'layouts/metrics', :tw => tw %>            
        <% end %>
      <% end %>
    </div>
  <% else %>
    <%= render 'layouts/expl' %>
  <% end %>

</div>