<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title><%= @title %></title>
<meta name="author" content="Matthew Frost"/>
<meta name="description" content="<%= @description %>"/>
<meta name="keywords" content="twitter, should i follow, 47"/>
<%= render 'layouts/ogtags' %>
<meta property="twitter:account_id" content="1468536246" />
<link rel="publisher" href="https://plus.google.com/100792150980679428272"/>
<%= stylesheet_link_tag "bootstrap.min", :media => "all" %>
<%= stylesheet_link_tag "application", :media => "all" %>
<%= javascript_include_tag "application" %>
<%= csrf_meta_tags %>
</head>
<body>
	<div id="page" class="container">
		<%= yield %>
		<%= render 'layouts/footer' %>
	</div>
	<%= render 'layouts/analytics' %>
</body>
</html>
