<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title><%= @title %></title>
<meta name="author" content="Matthew Frost"/>
<meta name="description" content="<%= @description %>"/>
<meta name="keywords" content="twitter, should i follow, shouldifollow, 47, twitter metrics, twitter stats, twitter join date"/>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="twitter:widgets:csp" content="on">
<%= render "layouts/ogtags" %>
<%= render "layouts/twittertags" %>
<link rel="publisher" href="https://plus.google.com/100792150980679428272"/>
<%= stylesheet_link_tag "application", :media => "all" %>
<%= javascript_include_tag "application", :cache => true %>
<%= csrf_meta_tags %>
</head>
<body>
	<div id="page" class="auto-lr-margin">
		<%= yield %>
		<%= render "layouts/footer" %>
	</div>
	<%= render "layouts/analytics" %>
</body>
</html>
