<!DOCTYPE html>
<html>
<head>
  <title><%= @title %></title>
  <%= stylesheet_link_tag "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
	<div id="page">
		<%= render 'layouts/sidebar' %>
		<%= yield %>
		<%= render 'layouts/footer' %>
	</div>
	
	<% if Rails.env.production? %>
		<%= render 'layouts/analytics' %>
	<% end %>
</body>
</html>
